[data-md-color-scheme="zulu"] {
	--md-primary-fg-color: #155dfc;
	--md-primary-fg-color--dark: #1d3ea4;
	--md-primary-bg-color: #101828;
	--md-primary-bg-color--light: #202533;

	--md-accent-fg-color: #85ab8f;
}
